/**************************************************************
                        Header style
**************************************************************/
html, body {
    overflow-y: hidden;
}

.controller {
    height: 100vh;
    background-color: #607d8b;
    top: 0;
    left: 0;
    color: #fff;
}

h1 {
    text-shadow: 5px 5px 5px black;
}

.function-form ::-webkit-input-placeholder {
    color: black;
    opacity: 0.7 !important;
}

.function-field {
    background-color: white !important;
    padding-left: 20px !important;
}

.btn-function {
    height: 45px;
    width: 100%;
}

.graphs-container {
    height: 100vh;
    border: 10px inset #607d8b;
}

#plotContainer {
    margin: 0 auto;
    height: 600px;
    width: 600px;
}

.progress, .indeterminate {
    width: 100%;
}

@media screen and (max-height: 600px) {
    h1 {
        font-size: 2.5rem;
    }

    .flow-text {
        font-size: 1.2rem;
    }

     html, body {
        overflow-y: scroll;
    }
}

@media screen and (max-width: 992px) {
    html, body {
        overflow-y: auto;
    }

    .controller {
        height: 100%;
    }

    .btn-function {
        width: 70%;
        margin-left: 20px;
    }

    .graphs-container{
        height: auto;
        width: auto;
    }

    #plotContainer {
        margin: 0 auto;
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 600px) {
     #plotContainer {
        margin: 0 auto;
        width: 350px;
        height: 350px;
    }
}