<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grafar</title>

    <link rel="shortcut icon" href="./../static/img/icon.png" type="image/x-icon">
    
    <!-- CSS files -->
    <link rel="stylesheet" href="./../static/css/materialize.css">
    <link rel="stylesheet" href="./../static/css/icons.css">
    <link rel="stylesheet" href="./../static/css/style.css">

    <script src="./../static/js/plotly.js"></script>
</head>

<body>

<div class="row">
    <div class="col s3 controller">
        <h1 class="center-align">GRAFAR</h1>
        <div class="divider"></div>
        <p class="flow-text center-align">
            Grafar es una aplicación dirigida a todas aquellas personas que
            deseen conocer la gráfica de una función matemática!
        </p>
        <p class="flow-text center-align">
            f(x,y) = sin(x)+y^3, [-6, 6]
        </p>
        <div class="container">
            <form class="function-form center-align" id="formFunction">
                <div class="row">
                    <div class="col s12 m11">
                        <input class="function-field validate"
                               placeholder="sin(x)+y^3" id="functionField"
                               type="text"
                               required>
                        <span class="helper-text" data-error="Inválido"
                              data-success=""></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m5">
                        <input class="function-field validate"
                               placeholder="-6" id="aField"
                               type="number"
                               required>
                        <span class="helper-text" data-error="Inválido"
                              data-success=""></span>
                    </div>
                    <div class="col m1"></div>
                    <div class="col s12 m5">
                        <input class="function-field validate"
                               placeholder="6" id="bField"
                               type="number"
                               required>
                        <span class="helper-text" data-error="Inválido"
                              data-success=""></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 center-align">
                        <button class="btn waves-effect waves-light black-text btn-function">
                            Enviar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col s9 graphs-container valign-wrapper">
        <div id="plotContainer" class="valign-wrapper center-align">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>
</div>

<!-- Javascript files -->
<script src="./../static/js/jquery.js"></script>
<script src="./../static/js/materialize.js"></script>
<script src="./../static/js/main.js"></script>
</body>

</html>